<div>
  <h1>Welcome to our site, <%= @user.name %>!</h1>
  <p>This is going to be great, we've got so much stuff!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dignissimos at alias praesentium deserunt, tenetur libero possimus iure id, voluptatem tempora sapiente laboriosam rem enim doloremque nulla incidunt vitae placeat.</p>
</div>