<h2>
  <%= @post.title %>
</h2>

<p>
  <%= @post.body %>
</p>

<p>
  Posted <%= time_ago_in_words @post.created_at %> ago
</p>

<% if @post.user %>
  <p>
    Written by: 
    <%= link_to @post.user.email, user_path(@post.user) %>
  </p>
<% else %>
  <p>
    The author was anonymous
  </p>
<% end %>