<h2><%= @post.title %></h2>

<p><%= @post.body %></p>

<h4>All Comments</h4>

<ul>
  <% @post.comments.each do |c| %>
    <li><%= c.body %></li>
  <% end %>
</ul>

<h4>Create a new comment</h4>

<form>
  <input type="text" id="new-comment">
  <input type="submit" value="Add Comment">
</form>