<h2>Here are all my todos</h2>

<div id="all-todos"></div>

<div id="add-todo">
  <h2>Create Todo</h2>
  <form>
    <input type="text" id="new-todo">
    <input type="submit" value="Add Todo">
  </form>
</div>

<div id="show-todo"></div>